<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.infoq.system.mapper.SysMessageRecipientMapper">
    <select id="selectMessagePage" resultType="cc.infoq.system.domain.vo.SysMessageRecipientVo">
        SELECT m.message_id, m.message_type, m.message_level, m.title, m.content, m.source, m.create_time, m.expire_time, r.read_time
        FROM sys_message_recipient r INNER JOIN sys_message m ON m.message_id = r.message_id
        WHERE r.user_id = #{userId} AND r.delete_time IS NULL AND (m.expire_time IS NULL OR m.expire_time &gt; NOW())
        <if test="query != null and query.messageType != null and query.messageType != ''">AND m.message_type = #{query.messageType}</if>
        <if test="query != null and query.readStatus == 'read'">AND r.read_time IS NOT NULL</if>
        <if test="query != null and query.readStatus == 'unread'">AND r.read_time IS NULL</if>
        ORDER BY m.create_time DESC, m.message_id DESC
    </select>
</mapper>
